<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Kaner</title>
    <!-- <link rel="stylesheet" href="../public/stylesheets/bootstrap.css" charset="utf-8"> -->
    <link rel="stylesheet" href="../public/stylesheets/vendor/bootstrap/css/bootstrap.min.css" charset="utf-8">
    <link rel="stylesheet" href="../public/stylesheets/flat-ui.css" charset="utf-8">
    <link rel="stylesheet" href="../public/stylesheets/buttons.css" charset="utf-8">
    <link rel="stylesheet" href="../public/stylesheets/def.css" charset="utf-8">
</head>

<body>
    <!-- 窗口控制按钮 -->
    <div class="button button-caution button-square btn-right ct-btn button-glow" id="close"><span class="glyphicon glyphicon-remove"></span></div>
    <div class="button button-royal button-square btn-right ct-btn button-glow" id="maximize"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></div>
    <div class="button button-highlight button-square btn-right ct-btn button-glow" id="minisize"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></div>
    <!-- 标题 -->
    <div class="title-message title-bg" id="title">
        <span>&nbsp;&nbsp;&nbsp;Kaner&nbsp;<small>v<span id="ver"></span></small>
        </span>
    </div>
    <div class="mod-title" id="pagetitle"></div>
    <div class="container">
        <div class="col-sm-1"></div>
        <article id="main"></article>
        <div class="col-sm-1"></div>
    </div>
    <div class="buuuuuut">
        <div class="col-sm-6">
            <div id="pre" class="button button-glow button-border button-rounded button-primary button-block">
                <div class="glyphicon glyphicon-chevron-left"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="next" class="button button-glow button-border button-rounded button-primary button-block">
                <div class="glyphicon glyphicon-chevron-right"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../window.js"></script>

</body>

</html>
